@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background h-svh font-plusRounded;
    cursor: url('cursor.cur'), auto;
  }
  a, button, svg, iframe {
    cursor: url('cursor.cur'), auto;
  }

  :root {
    --text: #0a0707;
    --background: #f5f5f5;
    --primary: #275297;
    --secondary: #86def2;
    --accent: #47e4ec;
  }
  .dark {
    --text: #f9f6f6;
    --background: #0a0a0a;
    --primary: #6994d8;
    --secondary: #0d6478;
    --accent: #13b0b9;
  }
}

